@page "/"
@using BlazorWebAssemblyServiceLifetimeDemo.Client.Shared;

<PageTitle>Blazor WebAssembly Service Lifetime Demo - Home</PageTitle>

<div class="container">
    <div class="mt-5">
        <ComponentUsingTransientServices></ComponentUsingTransientServices>
    </div>

    <div class="mt-5">
        <ComponentUsingScopedServices></ComponentUsingScopedServices>
    </div>

    <div class="mt-5">
        <ComponentUsingSingletonServices></ComponentUsingSingletonServices>
    </div>
</div>